.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 35%;
	left: 50%;
	font-size:48px;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title {
	text-transform: uppercase;
	font-size: 2.6em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 700;
}

.secondary-title {
    position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#download-url{
    width:500px;
    height: 38px;
    font:16px arial;
    color:#000;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

.navspace .navbar-inverse{
   width:100%;
   height: 60px;
   line-height: 60px;
   background-color:#f4f7f6;
   border-color:#f4f7f6;
   border-radius:0px;
}

.curument{
  border-bottom: 2px solid #2bbabf;
  font-weight:bold;
  font-color:#2bbabf;
}

.no-margin-left {
    margin-left: -3px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 16px;
}

.navigation-link {
	font-size:1.7rem;
    font-weight: 680;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	text-align:center;
	border-bottom: solid 2px;
}

.logo{
    font-size:2.2rem;
    font-weight: 700;
    letter-spacing:4px;
}

a{
    color: #000;
}


.navbar-inverse .navbar-nav > li > a:hover {
    color: #2bbabf;
    background-color: transparent;
}


.navigation-link:hover {
	color: #2bbabf;
}

.navigation-link:hover:before {
	width: 100%;
}

.align-text-to-button {
    /*padding-top: 16px;*/
}

body{
    background-color:#282828;
}

.update{

}